/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f2f2f2;
  color: #333;
  padding: 20px;
}

header {
  background-color: #007acc;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

nav ul li {
  margin: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  margin: 20px auto;
  max-width: 800px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

section {
  .deporte-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 15px;
}

.deporte-item {
  background-color: #e0f0ff;
  padding: 15px;
  border-radius: 8px;
}

.deporte-item h3 {
  color: #005f99;
  margin-bottom: 10px;
  text-align: center;
}

.deporte-item p {
  color: #333;
  font-size: 0.95rem;
  line-height: 1.4;
}
.deporte-item img {
  display: block;
  margin: 0 auto 10px auto;
  width: 64px;
  height: 64px;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-top: 15px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



h2 {
  color: #007acc;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  background-color: #333;
  color: white;
  border-radius: 5px;
}
